{% extends 'main/index.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row border">
      <div class="col-sm-8">
        <h3 class="fs-1">Курс: {{ course.name }}</h3>
        <h4>Автор: {{ course.author.first_name }} {{ course.author.last_name }}</h4>
        <h5>Категория: {{ course.category }}</h5>
      </div>
      <div class="col-sm-4">
        <img src="{{ course.image.url }}" alt="{{ course.name }}" class="img-thumbnail" />
      </div>
    </div>
    <div class="row border">
      <div class="col-sm-8">
        <p class="fs-2">Описание курса:</p>
        <p class="fs-4">{{ course.description }}</p>
      </div>
      <div class="col-sm-4">
        <div class="d-grid gap-2">
          {% if not is_enrolled %}
            <form method="post" action="{% url 'learn:enroll_course' course.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-success btn-lg">Записаться на курс</button>
            </form>
          {% else %}
            <p class="text-success fw-bold">Вы записаны на курс</p>
          {% endif %}

          {% if not is_favorite %}
            <form method="post" action="{% url 'learn:add_to_favorites' course.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-primary btn-lg">Добавить в избранное</button>
            </form>
          {% else %}
            <p class="text-primary fw-bold">Курс в избранном</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
