{% load crispy_forms_tags %}

<div class="container mt-5" id="modal" style="display: block;">
  {% csrf_token %}
  {{ module.order }}<br />
  {{ module.name }}<br />
  {{ module.description }}<br />
  {% for lesson in lessons %}
    {{ lesson.order }}
    {{ lesson.title }}<br />
  {% endfor %}
  <button hx-get="{% url 'construct:module_edit' module.id %}" hx-target="#modal" hx-swap="outerHTML" class="btn btn-secondary mt-3">Редактировать</button>
  <a hx-get="{% url 'construct:module_delete' module.id %}" hx-target="#modal" hx-swap="outerHTML" class="btn btn-secondary mt-3">Удалить</a>
  <button hx-get="{% url 'construct:lesson_create' module.id %}" hx-target="#modal" hx-swap="outerHTML" class="btn btn-secondary mt-3">Добавить урок</button>
</div>
