<div class="col-2 border" id="sidebar">
  {% for module in module_list %}
    <button hx-get="{% url 'learn:module' module.id %}" hx-push-url="true" hx-target="#main" hx-swap="outerHTML">{{ module.order }}. {{ module.name }}</button><br />
    <h5>Уроки</h5>
    {% for lesson in lessons %}
      {% if lesson.module.id == module.id %}
        <button hx-get="{% url 'learn:lesson' lesson.id %}" hx-push-url="true" hx-target="#main" hx-swap="outerHTML">{{ lesson.order }}. {{ lesson.title }}</button><br />
      {% endif %}
    {% endfor %}
    <h5>Тесты</h5>
    {% for test in tests %}
      {% if test.module.id == module.id %}
        <button hx-get="{% url 'learn:test' test.id %}" hx-push-url="true" hx-target="#main" hx-swap="outerHTML">{{ test.order }}. {{ test.title }}</button><br />
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
