{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning-Platform</title>

    {% comment %}bootstrap{% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />

    {% comment %}css{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <div class="header mb-4">
      <header>
        <nav class="navbar navbar-expand-sm">
          <div class="container border-bottom border-top py-2 my-3">
            {% if user.is_authenticated %}
              {% if user.is_author %}
                <a href="{% url 'users:profile' %}" class="navbar-brand text-white">Learning-Platform</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                  <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item ms-auto">
                      <a href="{% url 'users:profile' %}" class="nav-link text-white">Профиль</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'users:user_logout' %}" class="nav-link text-white">Выход</a>
                    </li>
                  </ul>
                </div>
              {% else %}
                <a href="{% url 'courses:catalog' %}" class="navbar-brand text-white">Learning-Platform</a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                  <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item ms-auto">
                      <a href="{% url 'users:profile' %}" class="nav-link text-white">Профиль</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'users:favorites' %}" class="nav-link text-white">Избранное</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'users:user_logout' %}" class="nav-link text-white">Выход</a>
                    </li>
                  </ul>
                </div>
              {% endif %}
            {% else %}
              <a href="{% url 'courses:catalog' %}" class="navbar-brand text-white">Learning-Platform</a>
              <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                  <li class="nav-item ms-auto">
                    <a href="{% url 'users:user_login' %}" class="nav-link text-white">Вход</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'users:register_student' %}" class="nav-link text-white">Регистрация</a>
                  </li>
                </ul>
              </div>
            {% endif %}
          </div>
        </nav>
      </header>
    </div>

    <div class="wrapper">
      <div class="content">
        <div class="container">
          {% block content %}

          {% endblock %}
        </div>
      </div>

      <div class="footer">
        <div class="container">
          <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-white">© 2025 Learning-Platform, Inc</p>

            <ul class="nav col-md-4 justify-content-end">
              <li class="nav-item">
                <a href="#" class="nav-link px-2 text-white">Главная</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-2 text-white">About</a>
              </li>
            </ul>
          </footer>
        </div>
      </div>
    </div>
    {% comment %}js for bootstrap{% endcomment %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
