{% extends 'main/index.html' %}
{% load static %}

{% block content %}
  <div class="profile-info">
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
  </div>
  <h3>Добавлено в избранное</h3>
  {% if favorite_courses|length == 0 %}
    <div class="text-center">
      <h3 class="mt-5">Нет курсов в избранном</h3>
      <a href="{% url 'courses:catalog' %}"><button type="button" class="btn btn-success btn-lg">Каталог</button></a>
    </div>
  {% else %}
    <div class="course-list">
      <div class="container-md">
        <div class="row row-cols-3">
          {% for item in favorite_courses %}
            <div class="col-sm-6">
              <div class="card">
                <img src="{{ item.course.image.url }}" alt="{{ item.course.name }}" class="img-course img-thumbnail" />
                <div class="card-body">
                  <h4 class="card-title">Название: {{ item.course.name }}</h4>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
