{% extends 'main/index.html' %}
{% load static %}

{% block content %}
  <div class="profile-info">
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
  </div>

  <form method="post" class="user_logout">
    <div class="profile-buttons mt-4 d-flex justify-content-between">
      <a href="{% url 'users:user_logout' %}" class="logout-btn d-flex align-items-center">Log out of your account</a>
    </div>
  </form>
{% endblock %}
