<div class="container mt-5">
  {% csrf_token %}
  {{ test.order }}
  {{ test.title }}
  {{ test.description }}
  {{ test.passing_score }}
  <button hx-get="{% url 'construct:test_edit' pk=test.id %}" hx-push-url="true" hx-target="#main" hx-swap="outerHTML" class="btn btn-secondary mt-3">Редактировать</button>
  <a hx-get="{% url 'construct:test_delete' pk=test.id %}" hx-push-url="true" hx-target="#main" hx-swap="outerHTML" class="btn btn-secondary mt-3">Удалить</a>
  <br />
  Вопросы{% for q in questions %}
    <ul>
      <li>
        <a hx-get="{% url 'construct:question_detail' pk=q.id %}" hx-push-url="true" hx-target="#main" hx-swap="outerHTML" class="btn btn-secondary mt-3">{{ q.order }} {{ q.question }}</a>
      </li>
      <form method="post" action="{% url 'construct:question_delete' pk=q.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
      </form>
    </ul>
  {% endfor %}
  <a hx-get="{% url 'construct:add_question' test_id=test.id %}" hx-push-url="true" hx-target="#main" hx-swap="outerHTML" class="btn btn-secondary mt-3">Добавить вопрос</a>
</div>
