{% extends 'layouts/main.html' %}

{% block content %}
  <div class="content-header">
    <h4 class="content-title">Удаление модуля</h4>
  </div>

  <div class="alert alert-danger mb-4">
    <div class="d-flex">
      <div class="flex-shrink-0">
        <i class="fas fa-exclamation-triangle fa-2x me-3"></i>
      </div>
      <div>
        <h5 class="alert-heading">Внимание!</h5>
        <p class="mb-0">Вы собираетесь удалить модуль "{{ module.name }}" из курса "{{ course.name }}". Это действие приведет к удалению всех уроков, тестов и материалов, связанных с этим модулем. Это действие нельзя отменить.</p>
      </div>
    </div>
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="d-flex justify-content-between">
      <button hx-get="{% url 'construct:module' module.id %}" hx-push-url="true" hx-target="#main" hx-swap="outerHTML" class="btn btn-outline-secondary"><i class="fas fa-times me-1"></i>Отмена</button>
      <button type="submit" class="btn btn-danger"><i class="fas fa-trash me-1"></i>Удалить модуль</button>
    </div>
  </form>
{% endblock %}
